.inputWithButton{
    justify-content: left;
}
#skillBox input{
    height: 40px;
    width: 30%;
    margin: 0 0 20px 0;
}
#skillBox select{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 3px 4px;
    margin: 0 20px 20px 0;
}
.list .flex-container {
    justify-content: left;
}
