/* 모달이 뜰 때 배경을 어둡게 하는 오버레이 스타일 */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); /* 반투명한 검은 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

/* 실제 모달 창 스타일 */
.modal {
    font-weight: bold;
    background-color: white;
    border-radius: 8px;
    width: 60%;
    max-width: 500px;
    position: relative;
}

/* 모달 내용 스타일 */
.modal-content {
    text-align: center;
}

.modal-header {
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(168, 219, 255);
    box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}

.modal-body {
    padding: 15px;
    text-align: left;
}

/*모달 완료 버튼 스타일*/
.modal-content .complete {
    text-align: center;
    font-size: 15px;
    border: 1px solid rgb(168, 219, 255);
    padding: 6px 10px;
    border-radius: 10px;
    background-color: rgb(168, 219, 255);
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin-bottom: 15px;
}

/* 모달 닫기 버튼 스타일 */
.close {
    position: relative;
    cursor: pointer;
    font-size: 20px;
    color: #888;
}

.modalDetails{
    width: 100%;
    border: 1px solid rgb(128, 128, 128);
    padding: 6px;
    font-weight: lighter;
}
