.post-container{
    margin-bottom: 50px;
    height: auto;
}
.post{
    border: 3px solid black;
    border-radius: 8px;
    padding: 10px;
    margin: 50px auto;
    height: auto;
    width: 40%;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}
.Post-header{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}
.Post-header:hover{
    text-decoration: underline;
}
.post-none{
    text-align: center;
    font-weight: bold;
}