.flex-element {
    display: flex;
    font-family: "NotoSansKR";
}
.main-container {
    width: 80%;
    margin: 0 auto;
    padding: 30px;
    border-left: 1px solid rgba(0,0,0,0.2);
}
.main-content {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
}
#profileImg {
    margin-bottom: 80px;
}
#intro {
    margin-bottom: 50px;
}
#profileModifyButton {
    border: 1px solid rgb(168, 219, 255);
    border-radius: 10px;
    padding: 8px 15px 8px 15px;
    background-color: rgb(168, 219, 255);
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}
#profileModifyButton:hover {
    background-color: rgb(123, 196, 249);
}