.List {
    margin-top:30px;
    width:100%;
}
.List tr {
    margin:20px 0;
    padding:10px 0;
}
.List .Pitem {
    margin:0;
    margin-bottom: 5px;
    padding-top:30px;
    border:2px rgba(31, 221, 255, 0.6) solid;
    border-radius: 10px;
}
.List .Pitem:hover {
    color: #1d5dd9;
    border-bottom: 2px #1d5dd9 solid;
    cursor: pointer;
}
.Pitem td {
    transition: transform 0.1s ease-in-out;
}
.Pitem td:hover {
    transform: scale(1.1
    );
}
.category_row, .Pitem {
    display:flex;
    border-bottom: 2px black solid;
}
.List .item:hover {
    color: #1d5dd9;
    border-bottom: 2px #1d5dd9 solid;
    cursor: pointer;
}

.item td {
    transition: transform 0.1s ease-in-out;
}
.item td:hover {
    transform: scale(1.1
    );
}
.category_row, .item {
    display:flex;
    border-bottom: 2px black solid;
}
.noList {
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.noList label {
    color:grey;
}
.title {
    display:flex;
    width:75%;
    padding-left:5%;
}
.writer {
    display:flex;
    min-width:10%;
    justify-content: center;
}
.date {
    display:flex;
    min-width:15%;
    justify-content: center;
}
.item label {
    padding-top : 10px;
    padding-bottom:10px;
}

.button {
    margin-top:20px;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}
.button button {
    font-size: 16px;
    padding:10px 20px;
}


.pageNumber {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom:20px;
}