
.page {
    max-width:75%;
    margin: 30px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 개요 */
.brief {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom:20px;
}

.small_image {
    border: 2px black solid;

    margin-right:30px;
}
.brief_title {
    font:30px black bold;
    margin-bottom:10px;
}
.brief_labels {
    display:flex;
    flex-direction:column;
    margin-right:20px;
}

.brief_row {
    display:flex;
    flex-direction: row;
}

.brief_row .rowTitle {
    margin:5px;
    font-weight:bold;
    width:auto;
}

.brief_row .rowDetail {
    margin:5px;
    width:auto;
}
/* 탭 */
.twoTabs {
    width:80%;
    justify-content: center;
}
/* 탭 버튼 */
.tabButtons {
    justify-content:space-between;
    display:flex;
    margin-bottom: 20px;
}
.tabButtons button {
    width:100%;
    justify-content: center;
    border:2px black solid;
    margin: -1px;
    font-size: 20px;
}
/* 개요 탭 */
.big_image {
    width:100%;
    margin-bottom: 30px;
    border: 1px black solid;
}

.content {
    border: 2px black solid;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

