.Page {
    width: 75%;
    margin: 0 auto;
    font-family: "NotoSansKR";
}

.smallPage {
    display:flex;
    flex-direction: column;
    margin-top:20px;
}
.smallTitle {
    font-size:20px;
    font-weight:bold;
    margin-bottom:10px;
}

/* List_Search.js */
.SearchInput {
    position: relative;
    width: 100%;
    padding-bottom: 30px;
}

.SearchInput input {
    width: 100%;
    height: 35px;
    padding-left:10px;
    padding-right: 30px;
    border: 2px solid black;
    border-radius: 5px;
    margin:0;
}
.SearchInput input[type="text"]:focus {
    border:2px #1d5dd9 solid;
    outline:none;
}

.SearchInput img {
    position: absolute;
    top: 17px;
    right: 5px;
    width:25px;
    transform: translateY(-50%);
    max-width: 30px;
}

/* List_Forum_Category.js */
.Category {
    position: relative;
    width: 100%;
}
.categoryTable .tableTitle {
    min-width:10%;
    font-weight: bold;
}
.categoryTable tr {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    border: 0;
}
.categoryTable td {
    display:flex;
    justify-content: flex-start;
    align-items: center;
}
.categoryTable input {
    margin: 10px 5px;
}
.TableElement {
    width:15%;
}

.criteria {
    display: flex;
    flex-direction: column;
    width:100%;
    border: 2px solid black;
    padding: 10px;
    /*border-top-left-radius: 12px;*/
    border-bottom-right-radius: 20px;
    background-color: rgba(168, 219, 255, 0.6);
    box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}

.checkbox {
    margin-right: 10px;
    display:flex;
    flex-direction: row;
}
.checkListTitle {
    width:10%;
}
.checkbox label {
    font-size:17px;
    font-weight: bold;
    display: flex;
    margin:20px;
}
.checkbox .checkList {
    display:flex;
    align-items: center;
    margin-right: 30px;
}
.checkbox .checkList input {
    margin-right: 10px;
}

.buttons {
    display:flex;
    justify-content: flex-end;
}
.buttons button {
    margin-top: 10px;
    margin-right: 20px;
}


/* List_Forums.js */
.forumWriteList {
    margin-top: 30px;
    width: 100%;
    border: 2px black solid;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.forumWrite {
    width: 30%;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    position:relative;
}

.forumWrite label {
    font-size:15px;
    font-weight:bold;
}

/* List_Projects.js */
.projectWriteList {
    margin-top: 30px;
    width: 100%;
    border: 2px black solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.row {
    width:100%;
    padding: 10px;
}

.writeButton {
    display:flex;
    width:100%;
    justify-content: flex-end;
    margin-top: 20px;

}
.writeButton button {
    font-size: 16px;
    padding:10px 20px;
}

