.page {
    width:60%;
    margin: 30px auto;
}

/* 제목, 카테고리 */
.titleAndCategory {
    margin-bottom:20px;
    justify-content: center;
}

/* 제목 */
.title {
    padding-left: 10px;
    width:100%;
    display:flex;
    justify-content: space-between;
    margin-bottom:20px;
    padding-bottom: 10px;
    border-bottom: 2px black solid;
}
.title label {
    display:flex;
    align-items: flex-end;
}
.title .T {
    width:75%;
    font-size: 30px;
}
.title .W {
    width:10%;
    justify-content: center;
}
.title .D {
    width:15%;
    justify-content: center;
}

/* 카테고리 */
.category {
    width:100%;
    padding-left: 10px;
    border-bottom: 2px black solid;
    display: flex;
    flex-direction: column;
}
.category .row {
    display:flex;
    flex-direction: row;
    width:100%;
    margin-right: 30px;
    align-items: center;
    border-bottom: 1px black solid;
    margin-bottom: 20px;
}
.row .categoryTitle {
    display: flex;
    align-items: flex-end;
    width: 20%;
    font: 20px bold black;
}



/* 본문 */
.body {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.appointment {
    display:flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}

.text {
    padding:10px;
    border:2px black solid;
    min-height:50vh;
    margin-bottom:30px;
}

.report {
    display:flex;
    justify-content: flex-end;
}

/* 버튼 */
.redButton {
    border: 2px red solid;
    padding: 5px 10px;
    background: #FA6161FF;
    margin-left: 20px;
}
.yellowButton {
    border: 2px #FAFA80FF solid;
    background: #FAFAD2FF;
    padding: 5px 10px;
    margin-left: 20px;
}
.blueButton {
    border: 2px cornflowerblue solid;
    background: lightskyblue;
    padding: 5px 10px;
    margin-left: 20px;
}
.whiteButton {
    border: 2px black solid;
    background: white;
    padding: 5px 10px;
    margin-left:20px;
}