
.page {
    margin-top:30px;
    margin-bottom:30px;
    width:100%;
}

.bigTitle {
    font: 40px black bold;
    width:100%;
    border-bottom: 2px black solid;
}

.chatList {
    margin-top: 20px;
}
.chatLine {
    display:flex;
    flex-direction: row;
    margin: 30px auto;
}
.chatLine img {
    width: 100px;
    height: 100px;
}
.nameNchat {
    margin-left: 10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.nameNchat label {
    margin: 5px auto;
}